[submodule "UvSocket"]
	path = UvSocket
	url = https://gitee.com/jjq_git/UvSocket
[submodule "CmdRepo"]
	path = CmdRepo
	url = https://gitee.com/jjq_git/CmdRepo
[submodule "CryptoUtils"]
	path = CryptoUtils
	url = https://gitee.com/jjq_git/CryptoUtils
[submodule "FileUtils"]
	path = FileUtils
	url = https://gitee.com/jjq_git/FileUtils
[submodule "DumpHelper"]
	path = DumpHelper
	url = https://gitee.com/jjq_git/DumpHelper
